* {
    border: 1px solid black;
}

#dimensiones {
    width: 500px;
    height: 300px;
}

img {
    width: 30vmax;
}

header {
    width: 80px;
    background-color: bisque;
}

#contendedor {
    width: 200px;
}

#cuadrado {
    width: 50%;
    border: 1px black solid;
}

#columna {
    display: flex;
}

.columna1 {
    width: 200px;
}

#div1 {
    font-size: 16px;
}

.p1 {
    font-size: 1.5em;
}

.p2 {
    font-size: 1.2em;
}

.p3 {
    font-size: 0.8em;
}

#div2 {
    width: 20rem;
}

#div3 {
    width: 15rem;
}


#div4 {
    width: 10rem;
}

.li1 {
    margin: 0.5em;
}

.li2 {
    margin: 1em;
}

.li3 {
    margin: 1.5em;
}

#principal {
    background-color: deepskyblue;
}

.div5 {
    background-color: 7d889a;
}

.div6 {
    background-color: a3ff23;
}

.div7 {
    background-color: 678912;
}

.div8 {
    background-color: rgb(21 ,155, 201);
}

.div9 {
    background-color: hsl(12, 48%, 95%);
}

.div10 {
    background-color: hsl(76, 2%, 42%);
}